<div class="container">
  <footer>
    <small>
      Made with love in the NorthWest, by Emily B Kingan
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
